@namespace MyBlankBlazor.Shared
@inherits LayoutComponentBase

<div class="main-layout">
    <header class="bg-dark text-white p-2">
        <NavMenu /> @*NavMenu, the top bar menu basically*@
    </header>
    <div class="container mt-4">
        @Body @*This contains the welcome to golden back text*@
    </div>
</div>
