@namespace MyBlankBlazor.Shared
@using Microsoft.AspNetCore.Components.Routing

@* Following code is for the links to the different pages *@

<nav>
    <ul class="nav">
        <li class="nav-item">
            <NavLink class="nav-link" href="/">Home</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/transactions">Transactions</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/login">Login</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/create-account">Create Account</NavLink>
        </li>
    </ul>
</nav>
